{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "off",
    "comma-dangle": "off"
  },
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true
  }
}
